In [1]:
import numpy as np

In [2]:
from plottr.data.qcodes import DataSetDict

In [3]:
import qcodes
from qcodes.dataset.data_set import get_data
from qcodes import load_by_id

In [4]:
qcodes.config['core']['db_location'] = r"D:\OneDrive\BF2\Data\experiments.db"

In [6]:
dd = DataSetDict(r"D:\OneDrive\BF2\Data\experiments.db", run_id=605)

In [17]:
dd['detector_signal_abs']['values'].shape

(16200400,)

In [5]:
data = load_by_id(605)

In [6]:
y = np.array(data.get_data('detector_signal_abs'))

In [7]:
z = np.array(data.get_data('detector_signal_abs'))

ERROR:root:Could not execute transaction, rolling back
Traceback (most recent call last):
  File "d:\code\qcodes\qcodes\dataset\sqlite_base.py", line 254, in atomic_transaction
    c = transaction(conn, sql, *args)
  File "d:\code\qcodes\qcodes\dataset\sqlite_base.py", line 233, in transaction
    c.execute(sql)
sqlite3.OperationalError: near "FROM": syntax error

OperationalError: near "FROM": syntax error